@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    display: flex;
    font-family: Roboto, sans-serif;
    flex-direction: column;
    margin: 0px;
    background-color: #f5efe9;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
}

nav {
    display: flex;
    margin-top: 40px;
}

#logo {
    font-size: 22px;
    font-weight: bold;
}

.topnav {
    display: flex;
    gap: 16px;
}

a.menu-item {
    font-size: 16px;
    color: black;
    text-decoration: none;
}

a.menu-item:hover {
    color: #bf4d54;
}

button {
    background-color: #f5efe9;
    color: white;
    border-radius: 6px;
    border: none;
    padding:8px 16px;
}

.hero {
    width: 100%;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 25px;
}

#hero_image {
    width: 75%;
}

.second-block {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}

h1 {
    margin-top: 40px;
    margin-bottom: 20px;
}

.cards {
    color: #1f2937;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.info-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info-group label {
    width: 150px;
    margin-top: 10px;
    font-size: 14px;
}

.square-1,
.square-2,
.square-3,
.square-4 {
    border: 3px solid #ffe8ec;
    border-radius: 5px;
    height: 150px;
    width: 150px;
}

.square-1:hover,
.square-2:hover,
.square-3:hover,
.square-4:hover {
    border: 5px solid #9c1f34;
}

.square-1 {
    background-image: url("pexels-photo-230477.jpeg");
    background-size: cover;
}

.square-2 {
    background-image: url("Me_San_Diego.jpg");
    background-size: cover;
}

.square-3 {
    background-image: url("Iceland_waterfall_placeholder.jpg");
    background-size: cover;
}

.square-4 {
    background-image: url("YoBJcbh_2.jpg");
    background-size: cover;
}

.third-block {
    margin-left: 150px;
    padding: 40px, 150px, 0px, 150px;
}

#accordionFlushExample {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-left: 150px;
    margin-right: 150px;
}

.red-box {
    background-color: #9c1f34;
    height: 100px;
    margin: 70px 150px;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    padding: 40px;
    justify-content: space-between;
}

.cta-head {
    font-size: 18pt;
    font-weight: 600;
    margin-bottom: 0px;
}

#cta-button {
    color: white;
    background-color: #9c1f34;
    border: 2px solid white;
    height: 40px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

.footer {
    background-color: #9c1f34;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    height: 80px;
}